<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <button mat-icon-button (click)="toggleSidenav()" *ngIf="(isLogged | async )">
          <mat-icon>menu</mat-icon>
        </button>
        <span fxHide.xs>Wallet Levio</span>
      </div>
  
      <div *ngIf="(isLogged | async )" fxHide.xs>
        <mat-menu #rightMenu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="rightMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      
      <div *ngIf="!(isLogged | async )" fxHide.xs>
        <button mat-button (click)="openDialog()">Connexion</button>
      </div>
      
    </mat-toolbar-row>
  </mat-toolbar>