<div class="welcome">
    <div class="slider"> 
      <app-welcome-slider [images]="sliderImages" height="600px" arrows="true"></app-welcome-slider>
    </div>
    
  <div class="features" fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="64px">
    <mat-card class="feature">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <div class="icon mat-elevation-z4" fxLayoutAlign="center center">
              <mat-icon>account_balance_wallet</mat-icon>
            </div>
            <mat-card-title>Creer votre portfeuille</mat-card-title>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nulla vestibulum mauris ut diam vulputate, nec scelerisque magna maximus. 
                Suspendisse sit amet ex vestibulum, semper nunc quis, consequat arcu. 
                Pellentesque feugiat molestie enim a aliquam. 
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="feature">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <div class="icon mat-elevation-z4" fxLayoutAlign="center center">
                <mat-icon>redeem </mat-icon>
              </div>
            <mat-card-title>Recompenser vos collegues</mat-card-title>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nulla vestibulum mauris ut diam vulputate, nec scelerisque magna maximus. 
                Suspendisse sit amet ex vestibulum, semper nunc quis, consequat arcu. 
                Pellentesque feugiat molestie enim a aliquam. 
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="feature">
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <div class="icon mat-elevation-z4" fxLayoutAlign="center center">
                <mat-icon>attach_money</mat-icon>
              </div>
            <mat-card-title>Financer vos projets interne </mat-card-title>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nulla vestibulum mauris ut diam vulputate, nec scelerisque magna maximus. 
                Suspendisse sit amet ex vestibulum, semper nunc quis, consequat arcu. 
                Pellentesque feugiat molestie enim a aliquam. 
            </p>
        </mat-card-content>
    </mat-card>
  </div>

  <div class="recipes" fxLayout.gt-md="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between center" fxLayoutGap="64px">
    
    <div class="recipe-text">
      <h2>Titre a trouver damn</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Nulla vestibulum mauris ut diam vulputate, nec scelerisque magna maximus. 
          Suspendisse sit amet ex vestibulum, semper nunc quis, consequat arcu. 
          Pellentesque feugiat molestie enim a aliquam. 
      </p>
    </div>

    <div class="recipe-img mat-elevation-z4">
        <img src="https://st3.depositphotos.com/15208558/17763/i/1600/depositphotos_177630074-stock-photo-top-view-egg-flour-glass.jpg" alt="Photo of a Shiba Inu">
    </div>
  </div>

  <!-- move to app ?-->
  <footer fxLayout="row" fxLayoutAlign="center center">
    <p>© BSJP 2019</p>
  </footer>

</div>